---
layout: default
title: GDES 221 CORE STUDIO I
announcement: "UNIT 1 PROJECT 2 KICKS OFF THIS WEEK"
links:
- syllabus: https://www.are.na/share/prNVmzJ
  slack: https://gdes-221-corei-dann.slack.com/
  arena: https://www.are.na/core-i-fall-2022-class-channel
  calendly: https://calendly.com/dannj/for-students-1-1-meeting
  handouts: https://www.are.na/core-i-fall-2022-class-channel/assignment-handouts-k8xn3y9_fao
  student-folders: https://drive.google.com/drive/u/1/folders/1ZOw0kX38OuZCiZy-ta1EP1dg27SqRg9_
  readings: https://www.are.na/core-i-fall-2022-class-channel/readings-listenings-viewings
  playlist: https://open.spotify.com/playlist/1rEI05kfw932tPHCmZfBt3?si=84568665a2374cba&pt=b2c6fb2d16ba998314c2fc979a005a6e
---
<div class="container">
  <div class="left">
    <h1>Calendar</h1>
    <ul>
      {% for week in site.data.core-1-schedule %}
        <li class="week">
          <h2>{{ week.week }}: {{ week.title }}</h2>
          <p><i>{{ week.description }}</i></p>

          <div class="schedule">
            {% for schedule in week.schedule %}
              <p>{{ schedule.date }}</p>
              <p>{{ schedule.description }}</p>
              <ul>
                {% for assignments in schedule.assignments %}
                  {% if assignments.in-class != null %}<li>In-class: {{ assignments.in-class }}</li>{% endif %}
                  {% if assignments.homework != null %}<li>Homework: {{ assignments.homework }}</li>{% endif %}
                  {% if assignments.supplementary-materials != null %}<li>Reading: {{ assignments.supplementary-materials }}</li>{% endif %}
                  {% if assignments.notes != null %}<li>{{ assignments.notes }}</li>{% endif %}
                {% endfor %}
              </ul>
            {% endfor %}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  
  <div class="right">
    <h1>Latest</h1>
    <div class="latest">
      <h2>Working on:</h2>
      <ol>
        <!-- {% for working in site.data.design-practices-latest %} -->
        <li>Processing all your letterforms in Photoshop; uploading them to a new catalog in LrC</li>
        <li>Tagging them in a similar fashion as your image archive with formal attributes first, then any other keywords you wish. No minimums or limits on how many attributes you add.</li>
        <!-- {% endfor %} -->
      </ol>
      <h2>Up next:</h2>
      <ol>
        <!-- {% for next in site.data.design-practices-latest %} -->
          <li>Attributes grids; formalizing attributes in gradients.</li>
          <li>Kerning and tracking; in-class exercise.</li>
          <li>Soon, no more grids! We will be moving into more freestyle compositional work for the remainder of the semester.</li>
        <!-- {% endfor %} -->
      </ol>
    </div>
  </div>
</div>