---
layout: default
title: GDES 221 CORE STUDIO I
announcement: "UNIT 1: IMAGE KICKOFF >> 300 IMAGES DUE NEXT TUESDAY"
links:
- syllabus: https://www.are.na/share/prNVmzJ
  slack: https://gdes-221-corei-dann.slack.com/
  arena: https://www.are.na/core-i-fall-2022-class-channel
  calendly: https://calendly.com/dannj/for-students-1-1-meeting
  handouts: https://www.are.na/core-i-fall-2022-class-channel/assignment-handouts-k8xn3y9_fao
  student-folders: https://drive.google.com/drive/u/1/folders/1ZOw0kX38OuZCiZy-ta1EP1dg27SqRg9_
  readings: https://www.are.na/core-i-fall-2022-class-channel/readings-viewings-listenings-xx-ujct6lds
  playlist: https://open.spotify.com/playlist/1rEI05kfw932tPHCmZfBt3?si=84568665a2374cba&pt=b2c6fb2d16ba998314c2fc979a005a6e
---
<div class="container">
  <div class="left">
    <h1>Calendar</h1>
    <ul>
      {% for week in site.data.core-1-schedule %}
        <li class="week">
          <h2>{{ week.week }}: {{ week.title }}</h2>
          <p><i>{{ week.description }}</i></p>

          <div class="schedule">
            {% for schedule in week.schedule %}
              <p>{{ schedule.date }}</p>
              <p>{{ schedule.description }}</p>
              <ul>
                {% for assignments in schedule.assignments %}
                  {% if assignments.in-class != null %}<li>In-class: {{ assignments.in-class }}</li>{% endif %}
                  {% if assignments.homework != null %}<li>Homework: {{ assignments.homework }}</li>{% endif %}
                  {% if assignments.supplementary-materials != null %}<li>Reading: {{ assignments.supplementary-materials }}</li>{% endif %}
                  {% if assignments.notes != null %}<li>{{ assignments.notes }}</li>{% endif %}
                {% endfor %}
              </ul>
            {% endfor %}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  
  <div class="right">
    <h1>Latest</h1>
    <div class="latest">
      <h2>Working on:</h2>
      <ol>
        <li>take photos! minimum 300 images due next Tuesday.</li>
        <li>for Thursday, upload every photo you’ve taken so far to a single folder on your computer, and bring this to class; we will be doing a Lightroom tutorial for cataloging images so you will need to have something to work with.</li>
      </ol>
      <h2>Up next:</h2>
      <ol>
        <li>tagging, cataloguing, Lightroom & Aspect Ratio tutorials</li>
      </ol>
    </div>
  </div>
</div>