---
layout: default
title: GDES 220 DESIGN PRACTICES
announcement: FIRST DAY OF CLASS IS WEDNESDAY AUG 24 9AM POLLAK 315
links:
- syllabus: https://www.are.na/design-practices-fall-2022/syllabus-s7jde5x_0ls
  slack: https://app.slack.com/client/T03TZF9K20M/C03TVU6QY8N
  arena: https://www.are.na/design-practices-fall-2022
  calendly: https://calendly.com/dannj/for-students-1-1-meeting
  handouts: https://www.are.na/design-practices-fall-2022/assignment-handouts
  student-folders: https://www.are.na/design-practices-fall-2022/assignment-handouts
  readings: https://www.are.na/design-practices-fall-2022/readings-viewings-listenings
  playlist: https://open.spotify.com/playlist/1l0BPuN0MUgRo8pHEc6CWw?si=20b9e7e7feba4e3b&pt=0e5accc00607d6af784e3d8ca4f01d27
---
<div class="container">
  <div class="left">
    <h1>Calendar</h1>
    <ul>
      {% for week in site.data.design-practices-schedule %}
        <li class="week">
          <h2>{{ week.week }}: {{ week.title }}</h2>
          <p><i>{{ week.description }}</i></p>

          <div class="schedule">
            {% for schedule in week.schedule %}
              <p>{{ schedule.date }}</p>
              <p>{{ schedule.description }}</p>
              <ul>
                {% for assignments in schedule.assignments %}
                  {% if assignments.in-class != null %}<li>In-class: {{ assignments.in-class }}</li>{% endif %}
                  {% if assignments.homework != null %}<li>Homework: {{ assignments.homework }}</li>{% endif %}
                  {% if assignments.supplementary-materials != null %}<li>Reading: {{ assignments.supplementary-materials }}</li>{% endif %}
                  {% if assignments.notes != null %}<li>{{ assignments.notes }}</li>{% endif %}
                {% endfor %}
              </ul>
            {% endfor %}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  
  <div class="right">
    <h1>Latest</h1>
    <div class="latest">
      <h2>Working on:</h2>
      <ol>
        <!-- {% for working in site.data.design-practices-latest %} -->
        <li>Areas of inquiry: experiment with possible topics/areas of inquiry that could serve as the basis for your collection (and ultimately your final archive). As you learned in our micro-collections exercise, start by developing several small collections (with different topic focuses, or just different levels of specificity)—see how they unfold. You will need to share your initial ideas and experimentation either in presented or written format on Wednesday. NOTE: Proper attribution is required for all collection items. If you can't attribute it, you can't use it.</li>
        <li>Proposals: identify 4 potential directions for your project, assemble into a proposal. include initial interests, excitements, and if relevant, personal connections to the topic. discuss project feasibility (i.e. pros and cons, potential barriers, etc). NOTE: students are not to work with pre-existing personal collections unless cleared with me.</li>
        <!-- {% endfor %} -->
      </ol>
      <h2>Up next:</h2>
      <ol>
        <!-- {% for next in site.data.design-practices-latest %} -->
          <li>small group presentation/discussion on potential archive directions</li>
          <li>submit initial concept proposals by Friday at 2pm to Slack and student folders.</li>
          <li>collection process begins</li>
        <!-- {% endfor %} -->
      </ol>
    </div>
  </div>
</div>
