---
layout: default
title: GDES 220 DESIGN PRACTICES
announcement: "PROJECT 01 KICKOFF >> ARCHIVE PROPOSALS DUE FRIDAY AT 2PM"
links:
- syllabus: https://www.are.na/design-practices-fall-2022/syllabus-s7jde5x_0ls
  slack: https://app.slack.com/client/T03TZF9K20M/C03TVU6QY8N
  arena: https://www.are.na/design-practices-fall-2022
  calendly: https://calendly.com/dannj/for-students-1-1-meeting
  handouts: https://www.are.na/design-practices-fall-2022/assignment-handouts
  student-folders: https://www.are.na/design-practices-fall-2022/assignment-handouts
  readings: https://www.are.na/design-practices-fall-2022/readings-viewings-listenings
  playlist: https://open.spotify.com/playlist/1l0BPuN0MUgRo8pHEc6CWw?si=20b9e7e7feba4e3b&pt=0e5accc00607d6af784e3d8ca4f01d27
---
<div class="container">
  <div class="left">
    <h1>Calendar</h1>
    <ul>
      {% for week in site.data.design-practices-schedule %}
        <li class="week">
          <h2>{{ week.week }}: {{ week.title }}</h2>
          <p><i>{{ week.description }}</i></p>

          <div class="schedule">
            {% for schedule in week.schedule %}
              <p>{{ schedule.date }}</p>
              <p>{{ schedule.description }}</p>
              <ul>
                {% for assignments in schedule.assignments %}
                  {% if assignments.in-class != null %}<li>In-class: {{ assignments.in-class }}</li>{% endif %}
                  {% if assignments.homework != null %}<li>Homework: {{ assignments.homework }}</li>{% endif %}
                  {% if assignments.supplementary-materials != null %}<li>Reading: {{ assignments.supplementary-materials }}</li>{% endif %}
                  {% if assignments.notes != null %}<li>{{ assignments.notes }}</li>{% endif %}
                {% endfor %}
              </ul>
            {% endfor %}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  
  <div class="right">
    <h1>Latest</h1>
    <div class="latest">
      <h2>Working on:</h2>
      <ol>
        <!-- {% for working in site.data.design-practices-latest %} -->
        <li>Work on archive proposals (4 distinct concepts, per instructions); submit to Slack 00-work-for-review channel and your student folder by 2pm Friday Sept 2.</li>
        <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdkzoie7LuYLm00R9PBvQM5jyk4qi2WsztnfaKVuW6E_SlX6g/viewform">Submit research topics form</a> to Carla-Mae Crookendale by Friday at 2pm.</li>
        <li>Begin collecting! Minimum of 150 items are due by Weds Sept 14. Experiment with platforms for collecting, and also for organizing your content. Is there a specific process or platform that feels in-line with your content and workflow needs? (are.na, Google Drive, Dropbox, etc) (This is different for everyone!)</li>
        <!-- {% endfor %} -->
      </ol>
      <h2>Up next:</h2>
      <ol>
        <!-- {% for next in site.data.design-practices-latest %} -->
          <li>NO CLASS MONDAY; Labor Day!</li>
          <li>Wednesday, meet out front of Cabell Library at 9am sharp! DO NOT BE LATE. 🙂</li>
        <!-- {% endfor %} -->
      </ol>
    </div>
  </div>
</div>