---
layout: default
title: GDES 220 DESIGN PRACTICES
announcement: "🌎🔍💡 MONDAY SEPT 12: DEEP SEA DIVING ON THE WEB with ELAN KIDERMAN 🌎🔍💡 ZOOM LINK IN SLACK"
links:
- syllabus: https://www.are.na/design-practices-fall-2022/syllabus-s7jde5x_0ls
  slack: https://app.slack.com/client/T03TZF9K20M/C03TVU6QY8N
  arena: https://www.are.na/design-practices-fall-2022
  calendly: https://calendly.com/dannj/for-students-1-1-meeting
  handouts: https://www.are.na/design-practices-fall-2022/assignment-handouts
  student-folders: https://drive.google.com/drive/folders/1UJ8XpDlK4pK3LMsn9EI_02DRRW4tm20I?usp=sharing
  readings: https://www.are.na/design-practices-fall-2022/readings-viewings-listenings
  playlist: https://open.spotify.com/playlist/1l0BPuN0MUgRo8pHEc6CWw?si=20b9e7e7feba4e3b&pt=0e5accc00607d6af784e3d8ca4f01d27
---
<div class="container">
  <div class="left">
    <h1>Calendar</h1>
    <ul>
      {% for week in site.data.design-practices-schedule %}
        <li class="week">
          <h2>{{ week.week }}: {{ week.title }}</h2>
          <p><i>{{ week.description }}</i></p>

          <div class="schedule">
            {% for schedule in week.schedule %}
              <p>{{ schedule.date }}</p>
              <p>{{ schedule.description }}</p>
              <ul>
                {% for assignments in schedule.assignments %}
                  {% if assignments.in-class != null %}<li>In-class: {{ assignments.in-class }}</li>{% endif %}
                  {% if assignments.homework != null %}<li>Homework: {{ assignments.homework }}</li>{% endif %}
                  {% if assignments.supplementary-materials != null %}<li>Reading: {{ assignments.supplementary-materials }}</li>{% endif %}
                  {% if assignments.notes != null %}<li>{{ assignments.notes }}</li>{% endif %}
                {% endfor %}
              </ul>
            {% endfor %}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  
  <div class="right">
    <h1>Latest</h1>
    <div class="latest">
      <h2>Working on:</h2>
      <ol>
        <!-- {% for working in site.data.design-practices-latest %} -->
        <li>finish your GIFs! no minimum amount of images required now, just do what you can to showcase your collection</li>
        <li>finish image collection; submit contact sheet to your student folder on Google Drive</li>
        <li>finish image tagging; be as far-reaching and specific as  you can</li>
        <li>complete Self-assessment assignment; doc is linked on Slack</li>
        <!-- {% endfor %} -->
      </ol>
      <h2>Up next:</h2>
      <ol>
        <!-- {% for next in site.data.design-practices-latest %} -->
          <li>Introduce Project 1.2</li>
        <!-- {% endfor %} -->
      </ol>
    </div>
  </div>
</div>