---
layout: default
---
<div class="container">
  <div class="left">
    <h1>Calendar</h1>
    <ul>
      {% for week in site.data.design-practices-schedule %}
        <li class="week">
          <h2>{{ week.week }}: {{ week.title }}</h2>
          <p><i>{{ week.description }}</i></p>

          <div class="schedule">
            {% for schedule in week.schedule %}
              <p>{{ schedule.date }}</p>
              <p>{{ schedule.description }}</p>
              <ul>
                {% for assignments in schedule.assignments %}
                  {% if assignments.in-class != null %}<li>In-class: {{ assignments.in-class }}</li>{% endif %}
                  {% if assignments.homework != null %}<li>Homework: {{ assignments.homework }}</li>{% endif %}
                  {% if assignments.supplementary-materials != null %}<li>Reading: {{ assignments.supplementary-materials }}</li>{% endif %}
                  {% if assignments.notes != null %}<li>Notes: {{ assignments.notes }}</li>{% endif %}
                {% endfor %}
              </ul>
            {% endfor %}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  
  <div class="right">
    <h1>Latest</h1>
    <div class="latest">
      <h2>Working on:</h2>
      <ol>
        {% for working in site.data.design-practices-latest %}
          <li>{{ working.working[0] }}</li>
          <li>{{ working.working[1] }}</li>
        {% endfor %}
      </ol>
      <h2>Up next:</h2>
      <ol>
        {% for next in site.data.design-practices-latest %}
          <li>{{ next.next[0] }}</li>
          <li>{{ next.next[1] }}</li>
        {% endfor %}
      </ol>
      <h2>Listening: our class studio playlist. Add to it!</h2>
      <h2>Watching: <a href="#">The Rehearsal</a></h2>
    </div>
  </div>
</div>