---
layout: default
assingments:
- Begin brainstorming directions for building a collection that will serve as the basis for your catalogue/final project direction. Start by developing smaller collections (ranging in focus & specificity) as an opportunity to see the possibilities of how each could unfold. Be prepared to discuss your process and findings for the next class.
- Begin experimenting with platforms for collecting and organizing content. Is there a specific process or platform that feels in-line with your content and workflow needs? (This is different for everyone!)
- WATCH Conversations | Curator Talk | Archives and the Digital Dark Age
---
<div class="container">
  <div class="left">
    <h1>Calendar</h1>
    <ul>
      {% for week in site.data.design-practices-schedule %}
        <li class="week">
          <h2>{{ week.week }}: {{ week.title }}</h2>
          <p><i>{{ week.description }}</i></p>

          <div class="schedule">
            {% for schedule in week.schedule %}
              <p>{{ schedule.date }}: {{ schedule.title }}</p>
              <p>{{ schedule.description }}</p>
              <ul>
                {% for assingments in schedule.assingments %}
                  <li>In-class: {{ assingments.in-class }}</li>
                  <li>Homework: {{ assingments.homework }}</li>
                  <li>Read/watch/listen: {{ assingments.supplementary-materials }}</li>
                {% endfor %}
              </ul>
            {% endfor %}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  
  <div class="right">
    <h1>Latest</h1>
    <div class="latest">
      <h2>Assignments:</h2>
      <ol>
        <li>Begin brainstorming directions for building a collection that will serve as the basis for your catalogue/final project direction. Start by developing smaller collections (ranging in focus & specificity) as an opportunity to see the possibilities of how each could unfold. Be prepared to discuss your process and findings for the next class.</li>
        <li>Begin experimenting with platforms for collecting and organizing content. Is there a specific process or platform that feels in-line with your content and workflow needs? (This is different for everyone!)</li>
        <li>WATCH: Conversations | Curator Talk | Archives and the Digital Dark Age</li>
      </ol>
      <h2>Preparing for: </h2>
      <h2>Listening to:</h2>
      <h2>Watching:</h2>
    </div>
  </div>
</div>