<header>
  <div class="marquee-container">
    <p class="marquee-contents" id="marquee-contents"><a href="index.html"><img class="smiley" src="{{ site.url }}/{{ site.baseurl }}/assets/smiley.png">{{ page.title }}<img class="smiley" src="{{ site.url }}/{{ site.baseurl }}/assets/smiley.png">{{ page.announcement }}<img class="smiley" src="{{ site.url }}/{{ site.baseurl }}/assets/smiley.png"></a></p>
  </div>
  <div class="nav-container">
    {% for link in page.links %}
    <ul class="nav header-nav">
      <li><a target="_blank" href="{{ link.syllabus }}">Syllabus</a></li>
      <li><a target="_blank" href="{{ link.slack }}">Slack</a></li>
      <li><a target="_blank" href="{{ link.arena }}">Are.na</a></li>
      <li><a target="_blank" href="{{ link.calendly }}">Schedule A Meeting</a></li>
    </ul>
    <ul class="nav footer-nav">
      <li><a target="_blank" href="{{ link.handouts }}">Assignment Handouts</a></li>
      <li><a target="_blank" href="{{ link.student-folders }}">Student Folders</a></li>
      <li><a target="_blank" href="{{ link.readings }}">Readings</a></li>
      <li><a target="_blank" href="{{ link.playlist }}">Studio Playlist</a></li>
    </ul>
    {% endfor %}
  </div>
</header>