<header>
  <div class="marquee-container">
    <p class="marquee-contents" id="marquee-contents"><a href="index.html"><img class="smiley" src="/assets/smiley-2.png">GDES 220 DESIGN PRACTICES<img class="smiley" src="/assets/smiley-2.png">{{ site.announcement }}<img class="smiley" src="/assets/smiley-2.png"></a></p>
  </div>
  <div class="nav-container">
    <ul class="nav header-nav">
      <li><a href="#">Syllabus</a></li>
      <li><a href="#">Slack</a></li>
      <li><a href="#">Are.na</a></li>
      <li><a href="#">Schedule A Meeting</a></li>
    </ul>
    <ul class="nav footer-nav">
      <li><a href="#">Assignment Handouts</a></li>
      <li><a href="#">Student Folders</a></li>
      <li><a href="#">Readings & Resources</a></li>
      <li><a href="#">Studio Playlist</a></li>
    </ul>
  </div>
</header>