// @font-face {
//     font-family: picnic;
//     src: url(../assets/PicNic-Regular.woff);
// }

$breakpoints: (
  'small':  767px,
  'medium': 992px,
  'large':  1200px
) !default;

// Mixin to manage responsive breakpoints
// @author Kitty Giraudel
// {String} $breakpoint - Breakpoint name
// @require $breakpoints
@mixin respond-to($breakpoint) {
    // If the key exists in the map
    @if map-has-key($breakpoints, $breakpoint) {
      // Prints a media query based on the value
      @media (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
      }
    }
   
    // If the key doesn't exist in the map
    @else {
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
  }

* {
    box-sizing: border-box;
}

::selection {
    color: black;
    background: yellow;
}

a {
    color: white;
    text-decoration: none;
}

h1, h2, h3, h4, p, li {
    font-size: 28px;
    font-weight: 300;
}

body {
    background-color: #000;
    color: #fff;
    font-size: 2em;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

header {
    position: relative;
    z-index: 10;
}

.footer-nav {
    position: none;
    background: black;
    width: 100%;
    border-top: none;
    border-bottom: 1px solid #fff;
    padding: 0 0 15px 0;
    margin: 0;
    @include respond-to('small') {
        position: fixed;
        bottom: 0;
        border-top: 1px solid #fff;
    }
}

.header-nav {
    border-top: none;
    padding: 15px 0 0 0;
    margin: 0;
    @include respond-to('small') {
        border-bottom: 1px solid #fff;
    }
}

.marquee-container {
    width: 100%;
    padding: 15px 0;
    overflow: hidden;
    background-color: yellow;
    color: black;
    a {
        color: black;
    }
}

.marquee-contents {
    white-space: nowrap;
    clear: both;
    float: left;
    margin: 0;
    padding: 0 0 0 200px;
}

.nav {
    text-align: center;

    a {
        text-decoration: none;
    }

    li {
        display: inline-block;
        list-style-type: none;
        padding-right: 20px;
    }

    :hover {
        color: yellow;
    }

    @include respond-to('small') {
        padding: 15px;
    }
}

.container {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    margin-top: -135px;
    padding-top: 135px;

    ::-webkit-scrollbar {
        display: none;
    }

    @include respond-to('small') {
        overflow: hidden;
        flex-direction: row;
        height: 100vh;
    }
}

.left, .right {
    width: 100%;
    overflow: auto;
    height: auto;
    padding-bottom: 0;

    ul {
        padding: 0;
        margin: 0;
    }

    p, h2 {
        margin: 0 0 15px 0;
    }

    h1 {
        border-bottom: 1px solid #fff;
        padding: 15px;
        margin: 0;
        background-color: white;
        color: black;

        @include respond-to('small') {
            background-color: black;
            color: white;
        }
    }

    @include respond-to('small') {
        width: 50%;
    }
}

.right {
    padding-bottom: 0;
    border-bottom: 1px solid #fff;
}

.left {
    border: none;
    @include respond-to('small') {
        border-right: 1px solid #fff;
    }
}

.week {
    border-bottom: 1px solid #fff;
    list-style-type: none;
    padding: 15px;
}

.week:last-of-type {
    border: none;
}

.schedule {
    ul {
        li {
            margin-left: 30px;
            margin-bottom: 5px;
            list-style-type: disc
        }
        :last-child {
            margin-bottom: 15px;
        }
    }
}

.latest {
    padding: 15px;

    li {
        margin: 0 0 15px 0;
    }

    ol {
        margin: 0;
        padding: 0 0 0 30px;
    }
}