// @font-face {
//     font-family: picnic;
//     src: url(../assets/PicNic-Regular.woff);
// }

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, p {
    font-size: 30px;
}

body {
    background-color: #000;
    color: #fff;
    font-size: 2em;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

header {
    position: relative;
    z-index: 10;
}

footer {
    position: fixed;
    bottom: 0;
    background: black;
    width: 100%;
}

.marquee-container {
    width: 100%;
    padding: 15px 0;
    overflow: hidden;
    background-color: yellow;
    color: black;
}

.marquee-contents {
    white-space: nowrap;
    clear: both;
    float: left;
    margin: 0;
    padding: 0 0 0 200px;
}

.nav {
    text-align: center;
    padding: 15px;
    margin: 0;

    a {
        color: white;
        text-decoration: none;
    }

    li {
        display: inline-block;
        list-style-type: none;
        padding-right: 20px;
    }
}

header .nav { border-bottom: 1px solid #fff; }
footer .nav { border-top: 1px solid #fff; }

.container {
    display: flex;
    overflow: hidden;
    height: 100vh;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    margin-top: -135px;
    padding-top: 135px;

    ::-webkit-scrollbar {
        display: none;
    }
}

.left, .right {
    width: 50%;
    overflow: auto;
    height: auto;
    padding-bottom: 75px;

    ul {
        padding: 0;
        margin: 0;
    }

    p, h2 {
        margin: 0 0 15px 0;
    }

    h1 {
        border-bottom: 1px solid #fff;
        padding: 15px;
        margin: 0;
    }
}

.left {
    border-right: 1px solid #fff;
}

.week {
    border-bottom: 1px solid #fff;
    list-style-type: none;
    padding: 15px;

    :last-child {
        margin-bottom: 0;
    }
}

.week:last-of-type {
    border: none;
}

.latest {
    padding: 15px;

    li {
        margin: 0 0 15px 0;
    }

    ol {
        margin: 0;
    }
}

footer {
    .nav {

    }
}